h1 {
  font-family: Impact;
  font-size: 80px;
  color: rgba(255, 255, 255, 0.92);
  margin-left: 0;
  padding: 20px 0 20px 0;
  margin-top: 0;
}

#img1, #img2, #img3 {
  position: relative;
  width: 400px;
  height: 400px;
  padding-top: 0;
  align-content: center;
}

header {
  position: relative;
  width: 100%;
  margin: 0;
  top: 0;
  text-align: center;
  background-color: rgba(229, 240, 107, 0.65);
  margin-left: 0;
}

#img1 {
  margin-left: 7%;
}

img:hover {
  border: medium solid rgb(229, 240, 107);
}

#chart {
  width: 70%
  height: 150px;
  margin-left: 0;
  background-color: rgba(244, 245, 246, 0.53);
  display: block;
  align-self: center;
}

body {
  background-color: rgba(212, 76, 47, 0.78);
}

p {
  display: block;
  color: white;
  font-family: Helvetica;
  font-size: 20px;
  text-align: center;
  margin-right: 20%;
  margin-left: 20%;
}
