h1 {
  font-family: Impact;
  font-size: 50px;
  color: white;
}

#img1, #img2, #img3 {
  position: relative;
  width: 20%;
}

img:hover {
  border: thin solid blue;
}

#chart {
  max-width: 50em;
  max-height: 50em;
  margin-left: 0;
  background-color: rgba(244, 245, 246, 0.53);
}

body {
  background-color: rgba(212, 76, 47, 0.78);
}

p {
  color: white;
  font-family: Helvetica;
  font-size: 15px;
}
